.game-container {
    text-align: center;
    font-family: sans-serif;
    margin-top: 40px;
  }
  
  table {
    margin: auto;
    border-collapse: collapse;
  }
  
  td {
    width: 50px;
    height: 50px;
    border: 1px solid #1df44f;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: red;
  }
  
  .winner {
    color: rgb(217, 231, 23);
    font-weight: bold;
    font-size: large;
  }

  button{ 
    margin-top: 10px;
    background: red;
    border: none;
    color: rgb(244, 242, 239);
    padding: 10px;
    border-radius: 10px;
  }
  